Source: parrot-tools-alchemy
Section: utils
Priority: optional
Maintainer: Yves-Marie Morgan <yves-marie.morgan@parrot.com>
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 8)

Package: parrot-tools-alchemy
Architecture: all
Depends: python (>= 3.4), libc6 (>= 2.4), libgcc1 (>= 1:3.0), libncurses5 (>= 6), libtinfo5 (>= 6)
Suggests: libqtcore4 (>= 4:4.7.0~beta1), libqtgui4 (>= 4:4.5.3), libstdc++6 (>= 4.1.1),
Description: Alchemy build system
 This package includes Alchemy, a new build system based on the one used in Android.
