Source: parrot-tools-alchemy
Section: utils
Priority: optional
Maintainer: Ivan Djelic <ivan.djelic@parrot.com>
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 8)

Package: parrot-tools-alchemy
Architecture: all
Depends: python (>= 2.6), parrot-tools-kconfig
Description: Alchemy build system
 This package includes Alchemy, a new build system based on the one used in Android.
