#!/usr/bin/make -f

build:
	dh_testdir

clean:
	dh_testdir
	dh_testroot
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_installdirs

binary-indep:
	dh_testdir --indep
	dh_testroot --indep
	dh_prep
	dh_installdirs usr/bin usr/lib/Alchemy
	dh_install -X./debian * usr/lib/Alchemy
	dh_install scripts/alchemake usr/bin
	dh_installchangelogs --indep
	dh_python3 --indep
	dh_compress --indep -X.txt
	dh_fixperms --indep
	dh_installdeb --indep
	dh_gencontrol --indep
	dh_md5sums --indep
	dh_builddeb --indep

binary-arch:

binary: binary-indep binary-arch

.PHONY: build clean install binary-indep binary-arch binary
