#!/usr/bin/make -f

#DEB_SOURCE := $(shell dpkg-parsechangelog | sed -n 's/^Source: //p')
#destdir:=$(shell pwd)/debian/$(DEB_SOURCE)

build:
	dh_testdir

clean:
	dh_testdir
	dh_testroot
	dh_clean

install:

binary-indep:
	dh_testdir -i
	dh_testroot -i
	dh_prep
	dh_installdirs usr/bin usr/lib/Alchemy
	dh_install -X./debian -X./test -X./kconfig * usr/lib/Alchemy
	dh_install scripts/alchemake usr/bin
	dh_installchangelogs -i
	dh_python2 -i
	dh_compress -i -X.txt
	dh_fixperms -i
	dh_installdeb -i
	dh_shlibdeps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch:
	echo ""

binary: binary-indep
.PHONY: build clean binary-indep binary-arch binary install
